/*
 *= require_tree .
 *= require_self
 */

.index {
  margin: auto;
  text-align: center;
  width: 400px;
}

 .title {
  margin-top: 140px;
  font-size: 48px;
}

.answer {
  margin-top: 80px;
  font-size: 90px;

}

.sub_answer {
  margin-top: 20px;
  font-size: 14px;
}

#report_link {
  color:blue;
}

.report_list {
  display:none;
  margin-top: 10px;
}

.report {
  margin-top: 4px;
  font-size: 12px;

}
